<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace='fragments::head(#{pageTitleSSN})'></head>
<body>
	<nav th:replace='fragments::menu'></nav>
	
	<h1 th:text="#{ssnOf} + ' ' + ${socialSecurityNumberForm.employee.firstName} + ' ' + ${socialSecurityNumberForm.employee.lastName}"></h1>
	
	<form th:action='@{/employees/ssn}' th:object='${socialSecurityNumberForm}'
		method='post'>
		<div th:if="${#fields.hasErrors('*')}">errors</div>
		<label><span th:text='#{ssn}'></span>
		<span th:if="${#fields.hasErrors('socialSecurityNumber')}" class='error'
			th:errors='*{socialSecurityNumber}'></span>
		<input th:field='*{socialSecurityNumber}' required autofocus>
		</label>
		
		<input th:field='*{employee}' type='hidden'>
		
		<input type='submit' th:value='#{ssnSubmit}'>
		<div th:if="${#fields.hasErrors('*')}" class="error">
			<p th:each="err : ${#fields.errors('*')}" th:text='${err}'></p>
		</div>
	</form>
</body>
</html>